.container {
    width: 1336px;
    margin: 0 auto;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}
h4 {
    //styleName: Text/16px/Semibold;
     font-family: Inter;
     font-size: 16px;
     font-weight: 600;
     line-height: 26px;
     text-align: center;
     text-underline-position: from-font;
     text-decoration-skip-ink: none;
     color: #282828;
}
h3 {
    font-family: Inter;
    font-size: 54px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -1px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #282828;
}
h5 {
    //styleName: Text/20px/Regular;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #5F6980;
}
h2 {
    //styleName: Text/18px/Semibold;
     font-family: Inter;
     font-size: 18px;
     font-weight: 600;
     line-height: 20px;
     text-align: left;
     text-underline-position: from-font;
     text-decoration-skip-ink: none;
     color: #282828;
     gap: 24px;
     padding: 10px;
}
h6 {
    //styleName: Text/14px/Regular;
     font-family: Inter;
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     text-align: left;
     text-underline-position: from-font;
     text-decoration-skip-ink: none;
     color: #3E3E59;
     gap: 24px;
     padding: 10px;
}
p {
    //styleName: Text/14px/Regular;
     font-family: Inter;
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     text-align: left;
     text-underline-position: from-font;
     text-decoration-skip-ink: none;
     color: #5F6980;
     padding: 10px;
     gap: 24px;
}
.flex-row1 {
    width: 1336px;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    vertical-align: middle;
}
.flex-row2 {
    width: 1336px;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    vertical-align: middle;
}
.box {
    width: 310px;
    height: 430px;
    border: 1px solid #000;
}
.icones {
    width: Hug (140px)px;
    height: Hug (36px)px;
    gap: 16px;
    opacity: 0px;
    padding-left: 5px;
}
.footer-p {
    width: 306.05px;
    height: 100px;
    top: 204px;
    left: 176px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #535353;
}
.middle-div {
    width: 1440px;
    margin: 0 auto;
    background-color: lightgray;
    align-content: center;
    text-align: left;
    vertical-align: middle; 
    height: 460px;
    padding: 108px 148px 129px 164px;
    background-color: #53535354;
    gap: 20px;
}
.div-footer {
    display: inline-block;
}
