.container {
    width: 1336px;
    height: 178px;
    margin: 0 auto;
}
.container-box {
    text-align: center;
    width: 760px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 80px;
}
.text-4 {
     font-size: 16px;
     font-weight: 600;
     text-align: center;
     color: #282828;
}
.text-1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 62px;
    text-align: center;
    color: #282828;
}
.text-5 {
    width: 760px;
    height: 70px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    color: #5F6980;
    margin: 0 auto;
}
.text-2 {
     font-family: Inter;
     font-size: 18px;
     font-weight: 600;
     line-height: 20px;
     text-align: left;
     color: #282828;
     gap: 24px;
     padding: 10px;
}
.text-6 {
     font-family: Inter;
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     text-align: left;
     color: #3E3E59;
     gap: 1px;
     padding: 10px;
}
.box {
     line-height: 20px;
     width: 310px;
     height: 430px;
     border: 1px solid #EAECF0;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;
}    
p {
     font-family: Inter;
     font-size: 14px;
     text-align: left;
     color: #5F6980;
     padding: 10px;
     width: 278px;
     height: 44px;
}
.flex-row1 {
    width: 1336px;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;  
}
.flex-row2 {
    width: 1336px;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.icones {
    gap: 16px;
    padding: 5px;
}
.footer-parag {
    width: 306.05px;
    height: 100px;
    top: 204px;
    left: 176px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    color: #535353;
}
.pictures {
    width: 310px;
    height: 230px;
}
.main-box {
    width: 1336px;
    margin: 0 auto;
    align-content: center;
    vertical-align: middle;
}
.section-box {
    width: 1336px;
    margin: 0 auto;
    align-content: center;
    vertical-align: middle;
}
.footer-box {
    width: 1440px;
    height: 460px;
    margin: 0 auto; 
    background-color: #53535354;
    align-content: center;
    vertical-align: middle;
    text-align: left;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.block-1 {
    width: 1128px;
    height: 223px;
    align-content: center;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.box-1 {
    width: 318.05px;
    height: 221px;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
.box-2 {
    width: 136px;
    height: 223px;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
.box-3 {
    width: 199px;
    height: 223px;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
.box-4 {
    width: 107px;
    height: 127.45px;
    top: 108px;
    left: 1185px;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
.text-3 {   
    width: 136px;
    height: 24px;
    top: 108px;
    left: 556px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    color: #1E1E1E;
    padding: 60px;
    margin: 0 auto;
    text-align: center;
}
.text-7 {   
    width: 85px;
    height: 24px;
    top: 108px;
    left: 898px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: center;
    color: #1E1E1E;
    padding: 60px;
    margin: 0 auto;
}
.text-8 {   
    width: 107px;
    height: 24px;
    top: 108px;
    left: 1185px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: center;
    color: #1E1E1E;
    padding: 60px;
    margin: 0 auto;
}
.list-style {
    width: 199px;
    height: 48px;
    top: 235px;
    left: 892px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;
    color: #535353;
}
.list-style-box {
    background-color: #054A68;
    width: 80px;
    height: 45px;
    top: 190.45px;
    left: 1185px;
    padding: 14px 16px 14px 16px;
    gap: 10px;
}